<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="ssm.model.PiaokeMapper">
	<insert id="save" 
		parameterType="ssm.pojo.Piaoke">
		insert into piaoke values(
			#{id},
			#{cjsj},
			#{xm},
			#{zjhm},
			#{zz},
			#{xb},
			#{mz},
			#{csrq},
			#{zjlx},
			#{jg},
			#{type},			
			#{last_rzsj},
			#{last_lgmc},
			#{last_lgbm},
			#{last_fh},
			#{count},
			#{message}
		)ON DUPLICATE KEY UPDATE cjsj=values(cjsj),
            								zz=VALUES (zz),
            								count=values(count),
            								last_rzsj=VALUES(last_rzsj),
            								last_lgmc=VALUES (last_lgmc),
            								last_lgbm=VALUES (last_lgbm),
            								last_fh=VALUES (last_fh)
	</insert>


</mapper>